body {
    font-family: arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: coral;
}

input {
    display: block;
    margin: 10px auto;
    padding: 8px;
} 